<web-app>
	<display-name>java task api challenge</display-name>

	<listener>
		<listener-class>nz.co.solnet.BootstrapConfig</listener-class>
	</listener>

	<servlet>
		<servlet-name>FetchTasksServlet</servlet-name>
		<servlet-class>FetchTasksServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ModifyTasksServlet</servlet-name>
		<servlet-class>ModifyTasksServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FetchTasksServlet</servlet-name>
		<url-pattern>/fetch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FetchTasksServlet</servlet-name>
		<url-pattern>/fetchOverdue</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyTasksServlet</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyTasksServlet</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyTasksServlet</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>

</web-app>
