<web-app>
	<display-name>java task api challenge</display-name>

	<listener>
		<listener-class>nz.co.solnet.BootstrapConfig</listener-class>
	</listener>

	<servlet>
		<servlet-name>GetTasksServlet</servlet-name>
		<servlet-class>GetTasksServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GetTasksServlet</servlet-name>
		<url-pattern>/get</url-pattern>
	</servlet-mapping>

</web-app>
